MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306
MARIADB_USER=isegrader
MARIADB_PASSWORD=change-me
MARIADB_DATABASE=isegrader_api

SECRET_KEY=change-this-secret
JWT_SECRET_KEY=change-this-jwt-secret-with-at-least-32-bytes
DESCRIPTION_DIR=instance/graderfiles
AUTO_CREATE_DB=true
SEED_DATABASE=true
